body{
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  padding-left: 100px;
  padding-right: 100px;
  display: inline; 
  max-width: 960px;
}

.fork{
  float: left;
}

.delicious {
  font-family: 'yellowtail', cursive;
  font-size: 40px;
}
.tagline{
  font-size:10px;
  color: gray;
}

nav {
  float: right;
}
/* header {
  background-color: saddlebrown;
  display: inline-block;
  text-align: center;
  border: black 15px;
} */