body{
  box-sizing: border-box;
  background-color: rgb(250, 250, 250);
  padding-left: 100px;
  padding-right: 100px;
  display: inline-block; 
  width: 960px;
}

.fork{
  float: left;
}

.delicious {
  font-family: 'yellowtail', cursive;
  font-size: 40px;
}
.tagline{
  font-size:10px;
  color: gray;
}

section > div > nav {
  text-align: right;
  /* float: right; */
  width: 960px;

}
h2 {
  font-family: 'Archiveo Black';
  font-size: 40px;
  font-weight: bold;
}
#posted {
  color: gray;
  font-size: 13px;
}
.print {
  display: inline;
  float: right;
  color: gray;
  font-size: 13px;
}
/* header {
  background-color: saddlebrown;
  display: inline-block;
  text-align: center;
  border: black 15px;
} */